<form action="@{/goods/add}" method="post">
    <table class="threeboder">
        <thead>
        <tr bgcolor="#A5D3FF">
            <th align="center" class="theader">商品名稱</th>
            <th width="8%" align="center" class="theader">數量</th>
            <th width="15%" align="center" class="theader">單價</th>
            <th width="15%" align="center" class="theader">小計</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="item : ${cartItem}">
            <tr>
                <td align="left" class="trow">
                    <span th:text="${item.goodsName}"></span>
                </td>
                <td align="center" class="trow">
                    <input name="quantity_${item.goodsId}" type="number" th:value="${item.quantity}" min="0" aria-label="數量" onblur="calc(${item.goodsId}, this)" />
                </td>
                <td align="center" class="trow">&yen;<span id="price_${item.goodsId}" th:text="${item.goodsPrice}"></span></td>
                <td align="center" class="trow">&yen;<span id="subtotal_${item.goodsId}" th:text="${item.goodsPrice * item.quantity}"></span></td>
            </tr>
            <td colspan="4" style="height: 2px; background-color: #5A96D6;"></td> <!-- 分隔行 -->
        </th:block>
        <tr>
            <td colspan="3" align="right">合計：&yen;<span id="total" th:text="${total}"></span></td>
        </tr>
        </tbody>
    </table>
    <div align="center">
        <div th:if="${not #lists.isEmpty(cart)}">
            <input type="image" th:src="/images/submit_order.jpg" border="0" alt="提交訂單" />&nbsp;&nbsp;
        </div>
    </div>
    <input type="hidden" name="action" value="sub_ord" />
</form>